<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.salesys.dao.GoodDao">
	<resultMap type="com.lxy.salesys.pojo.Good" id="Good">
		<result property="id" column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result property="title" column="Title" />
		<result property="summary" column="Summary" />
		<result property="text" column="Text" />
		<result property="imgPath" column="ImgPath" />
		<result property="prize" column="Prize" />
		<result property="isDeleted" column="IsDeleted" />
		<result property="updateDatetime" column="UpdateDatetime" />
	</resultMap>
	<insert id="insertGood" parameterType="com.lxy.salesys.pojo.Good">
		INSERT INTO tb_good(Id, Title, Summary, Text, ImgPath, Prize, IsDeleted, UpdateDatetime)
		VALUES(#{id}, #{title}, #{summary}, #{text}, #{imgPath}, #{prize}, #{isDeleted}, #{updateDatetime})
	</insert>
	<select id="selectAllGoods" resultMap="Good">
		SELECT * FROM tb_good
		WHERE IsDeleted=0
		ORDER BY Id DESC
	</select>
	<select id="selectGoodById" resultMap="Good">
		SELECT * FROM tb_good
		WHERE Id=#{id} AND IsDeleted=0
	</select>
	<select id="selectGoodsByIds" resultMap="Good">
		SELECT * FROM tb_good
    	WHERE Id IN 
	    <foreach collection="list" item="goodId" open="(" close=")" separator=",">
	    	#{goodId}
	    </foreach>
	   	AND IsDeleted=0
	</select>
	<update id="updateGoodById" parameterType="com.lxy.salesys.pojo.Good">
		UPDATE tb_good
		<trim prefix="SET" suffixOverrides=",">
			<if test="title!=null">Title=#{title},</if>
			<if test="summary!=null">Summary=#{summary},</if>
			<if test="text!=null">Text=#{text},</if>
			<if test="imgPath!=null">ImgPath=#{imgPath},</if>
			<if test="prize!=null">Prize=#{prize},</if>
			<if test="updateDatetime!=null">UpdateDatetime=#{updateDatetime},</if>
		</trim>
		WHERE Id=#{id}
	</update>
	<update id="deleteGoodById">
		UPDATE tb_good
		SET IsDeleted=1
		WHERE Id=#{goodId}
	</update>
</mapper>
