<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.salesys.dao.UserDao">
	<resultMap type="com.lxy.salesys.pojo.User" id="User">
		<result property="id" column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result property="userName" column="UserName" />
		<result property="password" column="Password" />
		<result property="nickName" column="NickName" />
		<result property="balance" column="Balance" />
		<result property="userType" column="UserType" />
	</resultMap>
	<select id="getUserByUserName" resultMap="User">
		SELECT * FROM tb_user WHERE UserName=#{userName}
	</select>
</mapper>
